@import 'tailwindcss';

:root {
  --canvas: hsl(240, 6%, 7%);
  --panel: hsl(240, 4%, 10%);
  --fg-default: hsl(240, 6%, 94%);
  --fg-muted: hsl(235, 8%, 72%);
  --accent: hsl(229, 47%, 50%);
  --border: hsl(231, 6%, 24%);

  --font-sans: var(--font-family);
}

@theme {
  --color-canvas: var(--canvas);
  --color-panel: var(--panel);
  --color-fg: var(--fg-default);
  --color-fg-muted: var(--fg-muted);
  --color-accent: var(--accent);
  --color-border: var(--border);

  --animate-slide-up: slide-up 0.3s ease-out backwards;
  --animate-slide-down: slide-down 0.3s ease-out backwards;

  @keyframes slide-up {
    0% {
      opacity: 0,
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

* {
  @apply outline-none;
}

html {
  color-scheme: dark;
}

body {
  @apply bg-canvas text-fg;
}

.container {
  @apply mx-auto max-w-[65ch] px-6;
}
