---
import Layout from '~/layouts/Layout.astro'
---

<Layout title="404 | Aldo R. Robles">
  <h1 class="text-xl">Not found</h1>
  <p class="mt-6 text-fg-muted">
    Sorry, but the page you're looking for isn't available. It might have been
    moved, deleted, or never existed.
  </p>

  <div class="mt-8">
    <a
      href="/"
      class="text-fg-muted underline transition duration-300 hover:text-fg focus:ring-2 focus:ring-accent"
      >Back to home</a
    >
  </div>
</Layout>
