---
import Layout from '../layouts/Layout.astro'
import links from '~/data/links.json'
import AppLink from '~/components/AppLink.astro'
---

<Layout title="Aldo R. Robles Links">
  <div class="grid place-items-center gap-12 sm:gap-16">
    <div class="grid max-w-md place-items-center text-center">
      <img
        src="/profile.webp"
        alt="Aldo R. Robles avatar"
        class="size-20 animate-slide-up rounded-full ring-2 ring-panel ring-offset-4 ring-offset-canvas"
      />
      <h1
        class="mt-6 animate-slide-up whitespace-nowrap text-lg font-medium [animation-delay:150ms] xs:text-2xl"
      >
        Aldo R. Robles
      </h1>
      <p
        class="text-neutral-600 mt-4 animate-slide-up text-sm text-fg-muted [animation-delay:300ms] xs:leading-7 sm:text-base"
      >
        👋 Hey there! Here you can find links to my work, personal projects, and
        more.
      </p>
    </div>

    <ul class="flex w-full flex-col gap-2">
      {links.map((link, idx) => <AppLink idx={idx} link={link} />)}
    </ul>
  </div>
</Layout>
