---
import { AstroFont } from 'astro-font'

type Props = {
  title: string
  description?: string
}

const { title, description = 'Discover my personal links.' } = Astro.props
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>{title}</title>
  <AstroFont
    config={[
      {
        src: [],
        name: 'Space Mono',
        // Google Fonts URL
        googleFontsURL:
          'https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap',
        preload: true,
        display: 'swap',
        selector: 'body',
        fallback: 'monospace',
        cssVariable: 'font-family',
      },
    ]}
  />
</head>
