---
import CommonHead from '~/components/CommonHead.astro'
import '~/styles/global.css'

interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <CommonHead title={title} description={description} />
  <body class="flex min-h-dvh min-w-[320px] flex-col antialiased">
    <main class="container flex-1 pt-16">
      <slot />
    </main>
    <footer class="container py-16 text-center text-neutral-600">
      <p>&copy; Aldo R. Robles - {new Date().getFullYear()}</p>
    </footer>
  </body>
</html>
